# Limpieza Pippo, armando un unico DataFrame

## Obtención de los datos y librerías necesarias.

In [1]:
# Importamos las librerías que usaremos durante la limpieza:
import numpy as np
import pandas as pd
import datetime

pd.to_datetime('20170901 100500', format='%Y%m%d %H%M%S')

Timestamp('2017-09-01 10:05:00')

In [2]:
# Importamos los dataset
df_fac = pd.read_csv('Pippo_fac.csv', dayfirst=True, parse_dates=['OrderDate'])
df_dim = pd.read_csv('Pippo_dim.csv', dayfirst=True, parse_dates=['OrderDate', 'TimeStamp', 'LastChange', 'CreationDate'], \
                     low_memory=False)

## 1. Relevamiento inicial y diagnóstico del estado del dataset

In [3]:
# Conocemos cual es el tamaño del dataset
df_fac.shape

(558074, 32)

In [4]:
df_dim.shape

(262620, 15)

In [5]:
df_fac.isnull().sum().sort_values()

Unnamed: 0                          0
State                               0
Lng                                 0
Lat                                 0
Country                             0
City                                0
AddressType                         0
AddressId                           0
Street                              0
OrderId                             0
OrderDate                           0
ShippingDataId                      0
DocumentType                        0
GrossItemAmountDiscount             0
Id                                  0
ProductId                           0
Quantity                            0
Name                                0
RawItemDiscount                     0
Price                               0
RefId                               0
ListPrice                           0
SellerSKU                           0
PromoName                           0
Documento                           0
SelectedAddressPostalCode          12
PostalCode                         12
Complemet                      409438
SelectedAddressComplement      409438
SelectedAddressNeighborhood    429123
Neighborhood                   429123
SelectedAddressReference       556307
dtype: int64

In [6]:
df_dim.isnull().sum().sort_values()

Unnamed: 0                    0
OrderId                       0
MarketPlaceServiceEndpoint    0
Status                        0
Value                         0
CreationDate                  0
LastChange                    0
HostName                      0
TotalOrderGross               0
TotalDiscountPrice            0
ShippingCost                  0
OrderDate                     0
Documento                     0
DocumentType                  0
TimeStamp                     2
dtype: int64

In [7]:
df_fac.columns

Index(['Unnamed: 0', 'Id', 'ProductId', 'Quantity', 'Name', 'RefId', 'Price',
       'ListPrice', 'SellerSKU', 'PromoName', 'GrossItemAmountDiscount',
       'RawItemDiscount', 'ShippingDataId', 'OrderDate', 'OrderId',
       'DocumentType', 'AddressId', 'SelectedAddressComplement',
       'SelectedAddressNeighborhood', 'SelectedAddressPostalCode',
       'SelectedAddressReference', 'AddressType', 'City', 'Complemet',
       'Country', 'Lat', 'Lng', 'Neighborhood', 'PostalCode', 'State',
       'Street', 'Documento'],
      dtype='object')

In [8]:
df_dim.columns

Index(['Unnamed: 0', 'OrderId', 'MarketPlaceServiceEndpoint', 'Status',
       'Value', 'CreationDate', 'LastChange', 'HostName', 'TotalOrderGross',
       'TotalDiscountPrice', 'ShippingCost', 'TimeStamp', 'OrderDate',
       'Documento', 'DocumentType'],
      dtype='object')

In [9]:
df_fac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558074 entries, 0 to 558073
Data columns (total 32 columns):
Unnamed: 0                     558074 non-null int64
Id                             558074 non-null int64
ProductId                      558074 non-null int64
Quantity                       558074 non-null int64
Name                           558074 non-null object
RefId                          558074 non-null object
Price                          558074 non-null float64
ListPrice                      558074 non-null float64
SellerSKU                      558074 non-null int64
PromoName                      558074 non-null object
GrossItemAmountDiscount        558074 non-null float64
RawItemDiscount                558074 non-null float64
ShippingDataId                 558074 non-null object
OrderDate                      558074 non-null datetime64[ns]
OrderId                        558074 non-null object
DocumentType                   558074 non-null object
AddressId                      558074 non-null object
SelectedAddressComplement      148636 non-null object
SelectedAddressNeighborhood    128951 non-null object
SelectedAddressPostalCode      558062 non-null float64
SelectedAddressReference       1767 non-null object
AddressType                    558074 non-null object
City                           558074 non-null object
Complemet                      148636 non-null object
Country                        558074 non-null object
Lat                            558074 non-null float64
Lng                            558074 non-null float64
Neighborhood                   128951 non-null object
PostalCode                     558062 non-null float64
State                          558074 non-null object
Street                         558074 non-null object
Documento                      558074 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(6), object(17)
memory usage: 136.2+ MB

In [10]:
df_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262620 entries, 0 to 262619
Data columns (total 15 columns):
Unnamed: 0                    262620 non-null int64
OrderId                       262620 non-null object
MarketPlaceServiceEndpoint    262620 non-null object
Status                        262620 non-null object
Value                         262620 non-null float64
CreationDate                  262620 non-null datetime64[ns, UTC]
LastChange                    262620 non-null datetime64[ns, UTC]
HostName                      262620 non-null object
TotalOrderGross               262620 non-null float64
TotalDiscountPrice            262620 non-null float64
ShippingCost                  262620 non-null float64
TimeStamp                     262618 non-null datetime64[ns]
OrderDate                     262620 non-null datetime64[ns]
Documento                     262620 non-null int64
DocumentType                  262620 non-null object
dtypes: datetime64[ns, UTC](2), datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 30.1+ MB

In [11]:
# Analisis de registros duplicados (todas las columnas)
duplicados = df_fac[df_fac.duplicated(keep='first')]
len(duplicados)

0

In [12]:
duplicados = df_dim[df_dim.OrderId.duplicated(keep='first')]
len(duplicados)

0

In [13]:
df_fac.nunique().sort_values(ascending=True)

DocumentType                        3
AddressType                         3
Country                             4
Quantity                           11
State                             129
ListPrice                         249
Price                             251
SelectedAddressReference          348
OrderDate                         453
Neighborhood                      768
SelectedAddressNeighborhood       768
City                             2155
PostalCode                       2183
SelectedAddressPostalCode        2183
ProductId                        2361
Name                             4054
Id                               4198
SellerSKU                        4198
RefId                            4279
SelectedAddressComplement       11522
Complemet                       11522
GrossItemAmountDiscount         14043
Lat                             15273
Lng                             15487
RawItemDiscount                 23634
PromoName                       32615
Street                          40869
Documento                      159156
OrderId                        262620
ShippingDataId                 262620
AddressId                      262620
Unnamed: 0                     558074
dtype: int64

In [14]:
df_fac.sample(5)

,Unnamed: 0,Id,ProductId,Quantity,Name,RefId,Price,ListPrice,SellerSKU,PromoName,...,City,Complemet,Country,Lat,Lng,Neighborhood,PostalCode,State,Street,Documento
6182,6182,565,386,2,Funda de Almohadón Jean Tres Tiras Color Azul ...,40131B20061%A,169.0,169.0,565,discount@price-4764aebc-5267-47cf-8540-2ac0eac...,...,San Miguel De Tucumán,1 b,ARG,0.000000,0.000000,NaN,4000.0,TUCUMÁN,Virgen de la Merced,931
168514,168514,1579,919,1,Funda de Almohadón Flor Morris Color Verde Claro,40121E05764%V,299.0,299.0,1579,NoPromo,...,Martínez,NaN,ARG,-34.490271,-58.500412,NaN,1640.0,Buenos Aires,Avenida Santa Fe,33206
137005,137005,741,460,1,Toalla de Mano Flecos Línea Mandala Color Blanco,31051E76456%H,199.0,199.0,741,NoPromo,...,La Plata,NaN,ARG,0.000000,0.000000,NaN,1900.0,BUENOS AIRES,143,26201
216575,216575,3335,1859,1,Funda de Almohadón Tejido Flame Color Blanco,40001H21586%U,599.0,599.0,3335,DISCOUNT@MARKETPLACE,...,Martínez,NaN,ARG,-34.490271,-58.500412,NaN,1640.0,Buenos Aires,Avenida Santa Fe,44614
311651,311651,1651,958,2,Acolchado 1 Plaza Lunar Globos Color Celeste,20021U05992%C,1599.0,1599.0,1651,discount@price-3c708143-8cd3-4614-b7b7-101f20f...,...,Ciudad Autónoma Buenos Aires,2A,ARG,0.000000,0.000000,NaN,1120.0,CIUDAD AUTÓNOMA DE BUENOS AIRES,Córdoba,69838

In [15]:
df_dim.nunique().sort_values(ascending=True)

HostName                           2
DocumentType                       3
MarketPlaceServiceEndpoint         4
Status                            12
ShippingCost                      26
OrderDate                        453
TotalOrderGross                 8628
TimeStamp                      22393
TotalDiscountPrice             28964
Value                          34953
Documento                     159156
LastChange                    262594
Unnamed: 0                    262620
OrderId                       262620
CreationDate                  262620
dtype: int64

In [16]:
df_dim.sample(5)

,Unnamed: 0,OrderId,MarketPlaceServiceEndpoint,Status,Value,CreationDate,LastChange,HostName,TotalOrderGross,TotalDiscountPrice,ShippingCost,TimeStamp,OrderDate,Documento,DocumentType
175932,377444,832421899048-01,portal_Pippo,invoiced,1139.05,2018-05-16 01:32:04.505740+00:00,2018-05-19 00:36:41.999705+00:00,Pippo,2398.0,-1258.95,0.0,2019-01-04 11:54:42.383,2018-05-16,67151,dni1
259466,551435,870093123844-01,portal_Pippo,invoiced,1599.00,2018-10-20 00:51:56.670488+00:00,2018-10-24 00:22:31.564313+00:00,Pippo,3198.0,-1599.00,0.0,2019-01-04 11:56:31.083,2018-10-20,2628,dni1
177220,380366,832531798143-01,portal_Pippo,invoiced,1999.00,2018-05-16 13:30:53.989015+00:00,2018-05-20 21:14:07.223581+00:00,Pippo,3998.0,-1999.00,0.0,2019-01-04 11:54:44.400,2018-05-16,152929,dni1
91857,195587,913211444029-01,oms_Pippo_uy,invoiced,367.50,2019-02-25 01:23:57.579448+00:00,2019-02-25 01:41:18.623706+00:00,Pippo_uy,1490.0,-1122.50,0.0,2019-02-25 00:06:32.110,2019-02-25,1102,dni3
106022,227347,932353249613-01,oms_Pippo,invoiced,3597.00,2019-05-15 18:54:08.621837+00:00,2019-05-15 18:55:49.214004+00:00,Pippo,6496.0,-3248.00,349.0,2019-05-15 15:57:04.543,2019-05-15,3240,dni1

## Vamos a juntar a las tablas y reducirlas en lo posible

In [17]:
df = pd.merge(df_fac, df_dim, on='OrderId')

In [18]:
df.shape

(558074, 46)

In [19]:
df = df.drop_duplicates()

In [20]:
df.shape

(558074, 46)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558074 entries, 0 to 558073
Data columns (total 46 columns):
Unnamed: 0_x                   558074 non-null int64
Id                             558074 non-null int64
ProductId                      558074 non-null int64
Quantity                       558074 non-null int64
Name                           558074 non-null object
RefId                          558074 non-null object
Price                          558074 non-null float64
ListPrice                      558074 non-null float64
SellerSKU                      558074 non-null int64
PromoName                      558074 non-null object
GrossItemAmountDiscount        558074 non-null float64
RawItemDiscount                558074 non-null float64
ShippingDataId                 558074 non-null object
OrderDate_x                    558074 non-null datetime64[ns]
OrderId                        558074 non-null object
DocumentType_x                 558074 non-null object
AddressId                      558074 non-null object
SelectedAddressComplement      148636 non-null object
SelectedAddressNeighborhood    128951 non-null object
SelectedAddressPostalCode      558062 non-null float64
SelectedAddressReference       1767 non-null object
AddressType                    558074 non-null object
City                           558074 non-null object
Complemet                      148636 non-null object
Country                        558074 non-null object
Lat                            558074 non-null float64
Lng                            558074 non-null float64
Neighborhood                   128951 non-null object
PostalCode                     558062 non-null float64
State                          558074 non-null object
Street                         558074 non-null object
Documento_x                    558074 non-null int64
Unnamed: 0_y                   558074 non-null int64
MarketPlaceServiceEndpoint     558074 non-null object
Status                         558074 non-null object
Value                          558074 non-null float64
CreationDate                   558074 non-null datetime64[ns, UTC]
LastChange                     558074 non-null datetime64[ns, UTC]
HostName                       558074 non-null object
TotalOrderGross                558074 non-null float64
TotalDiscountPrice             558074 non-null float64
ShippingCost                   558074 non-null float64
TimeStamp                      558071 non-null datetime64[ns]
OrderDate_y                    558074 non-null datetime64[ns]
Documento_y                    558074 non-null int64
DocumentType_y                 558074 non-null object
dtypes: datetime64[ns, UTC](2), datetime64[ns](3), float64(12), int64(8), object(21)
memory usage: 200.1+ MB

## Vamos a trabajar solo con los estados invoiced para este analisis. 

Con lo cual dropeamos el resto

In [22]:
a = df.Status != 'invoiced'
a.sum()

21876

In [23]:
df.drop(df.loc[a].index, inplace=True)

In [24]:
df.shape

(536198, 46)

## Analizamos el campo 'Value', hay ceros. 
Por lo hablado con la gente de la empresa son devoluciones o cambios sin costo, con lo que no usaremos para el analisis y dropeamos.

In [25]:
a = df.Value == 0
a.sum()

7701

In [26]:
df.drop(df.loc[a].index, inplace=True)

In [27]:
df.shape

(528497, 46)

## Al juntar las bases pueden surgir otras columnas con datos iguales

In [28]:
a = df['DocumentType_x']
b = df['DocumentType_y']
c = a == b
c.all()

True

In [29]:
# borrare los 'Unnamed: 0' porque refleja el index de la viejas df fac y dim

In [30]:
a = df['OrderDate_x']
b = df['OrderDate_y']
c = a == b
c.all()

True

In [31]:
# borrare la 'OrderDate_x' porque refleja la carga de la vieja df_fac en la orden, pero la 'y', es cuando factura

In [32]:
a = df['Documento_x']
b = df['Documento_y']
c = a == b
c.all()

True

In [33]:
a = df['Id']
b = df['SellerSKU']
c = a == b
c.all()

True

In [34]:
df.sample()

,Unnamed: 0_x,Id,ProductId,Quantity,Name,RefId,Price,ListPrice,SellerSKU,PromoName,...,CreationDate,LastChange,HostName,TotalOrderGross,TotalDiscountPrice,ShippingCost,TimeStamp,OrderDate_y,Documento_y,DocumentType_y
73928,73928,3040,1659,2,Funda de Almohadón Patch Rayado Color Gris Claro,40001L60932%G,699.0,699.0,3040,DISCOUNT@MARKETPLACE,...,2019-08-02 14:10:13.499541+00:00,2019-08-02 14:15:09.681096+00:00,Pippo,5996.0,-3699.0,0.0,2019-02-08 11:36:07.190,2019-02-08,13305,dni1

In [35]:
df.drop(['DocumentType_y', 'Documento_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'OrderDate_x', 'SellerSKU'],\
            axis=1, inplace=True)

In [36]:
df.rename(columns={'DocumentType_x': 'DocumentType', 'Documento_x': 'Documento', 'OrderDate_y': 'OrderDate'}, inplace=True)

In [37]:
df.shape

(528497, 40)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528497 entries, 0 to 558073
Data columns (total 40 columns):
Id                             528497 non-null int64
ProductId                      528497 non-null int64
Quantity                       528497 non-null int64
Name                           528497 non-null object
RefId                          528497 non-null object
Price                          528497 non-null float64
ListPrice                      528497 non-null float64
PromoName                      528497 non-null object
GrossItemAmountDiscount        528497 non-null float64
RawItemDiscount                528497 non-null float64
ShippingDataId                 528497 non-null object
OrderId                        528497 non-null object
DocumentType                   528497 non-null object
AddressId                      528497 non-null object
SelectedAddressComplement      140832 non-null object
SelectedAddressNeighborhood    122571 non-null object
SelectedAddressPostalCode      528485 non-null float64
SelectedAddressReference       1556 non-null object
AddressType                    528497 non-null object
City                           528497 non-null object
Complemet                      140832 non-null object
Country                        528497 non-null object
Lat                            528497 non-null float64
Lng                            528497 non-null float64
Neighborhood                   122571 non-null object
PostalCode                     528485 non-null float64
State                          528497 non-null object
Street                         528497 non-null object
Documento                      528497 non-null int64
MarketPlaceServiceEndpoint     528497 non-null object
Status                         528497 non-null object
Value                          528497 non-null float64
CreationDate                   528497 non-null datetime64[ns, UTC]
LastChange                     528497 non-null datetime64[ns, UTC]
HostName                       528497 non-null object
TotalOrderGross                528497 non-null float64
TotalDiscountPrice             528497 non-null float64
ShippingCost                   528497 non-null float64
TimeStamp                      528494 non-null datetime64[ns]
OrderDate                      528497 non-null datetime64[ns]
dtypes: datetime64[ns, UTC](2), datetime64[ns](2), float64(12), int64(4), object(20)
memory usage: 165.3+ MB

In [39]:
df.columns

Index(['Id', 'ProductId', 'Quantity', 'Name', 'RefId', 'Price', 'ListPrice',
       'PromoName', 'GrossItemAmountDiscount', 'RawItemDiscount',
       'ShippingDataId', 'OrderId', 'DocumentType', 'AddressId',
       'SelectedAddressComplement', 'SelectedAddressNeighborhood',
       'SelectedAddressPostalCode', 'SelectedAddressReference', 'AddressType',
       'City', 'Complemet', 'Country', 'Lat', 'Lng', 'Neighborhood',
       'PostalCode', 'State', 'Street', 'Documento',
       'MarketPlaceServiceEndpoint', 'Status', 'Value', 'CreationDate',
       'LastChange', 'HostName', 'TotalOrderGross', 'TotalDiscountPrice',
       'ShippingCost', 'TimeStamp', 'OrderDate'],
      dtype='object')

## Chequeamos mas columnas y reordenamos agrupando, para entender mejor los datos

'RefId' es una referencia codificada del producto
'ShippingDataId' es una referencia interna
'Status' lo dejamos con un unico valor de invoiced
'AddressId' es una referencia codificada
'MarketPlaceServiceEndpoint' solo refiere a 2 canales de llegada, ambos del e-comerce, no implementado aun otro de comparacion
'CreationDate', 'LastChange' y 'TimeStamp' realizamos prueba de chequeo y reducimos si no aportan diferencias significativas.

In [40]:
# TimeStamp, tiene 3 valores nulos, borraremos las filas.
a = df.TimeStamp.isnull()
df[a]

,Id,ProductId,Quantity,Name,RefId,Price,ListPrice,PromoName,GrossItemAmountDiscount,RawItemDiscount,...,Status,Value,CreationDate,LastChange,HostName,TotalOrderGross,TotalDiscountPrice,ShippingCost,TimeStamp,OrderDate
88307,2446,1342,1,Juego de Sábanas 1 Plaza Manchas Color Blanco,10033U05895%H,1690.0,1690.0,DISCOUNT@MARKETPLACE,-800.0,-800.0,...,invoiced,1780.0,2019-11-01 12:00:17.842860+00:00,2019-11-01 12:05:06.241976+00:00,Pippo_uy,3380.0,-1600.0,0.0,NaT,2019-01-11
88308,3452,1912,1,Juego de Sábanas 1 Plaza Estrella Cálida Color...,10033U05885%AR,1690.0,1690.0,DISCOUNT@MARKETPLACE,-800.0,-800.0,...,invoiced,1780.0,2019-11-01 12:00:17.842860+00:00,2019-11-01 12:05:06.241976+00:00,Pippo_uy,3380.0,-1600.0,0.0,NaT,2019-01-11
433130,2926,1589,1,Juego de Sábanas Extra Queen Size Laurel Color...,10034X16060%WV,2699.0,2699.0,DISCOUNT@MARKETPLACE,-900.0,-900.0,...,invoiced,1799.0,2019-11-01 11:59:58.045538+00:00,2019-11-01 12:03:07.408221+00:00,Pippo,2699.0,-900.0,0.0,NaT,2019-01-11

In [41]:
df.drop(df.loc[a].index, inplace=True)

In [42]:
df.shape

(528494, 40)

In [43]:
# Si la diferencia supera las 2 semanas borramos estos registros
diferencia = (df.LastChange - df.CreationDate) > '15 days'
diferencia.sum()

76431

In [44]:
df.drop(df.loc[diferencia].index, inplace=True)

In [45]:
# Si la diferencia supera las 100 dias borramos estos registros
diferencia = (df.OrderDate - df.TimeStamp) > '30'
diferencia.sum()

0

In [46]:
df.drop(df.loc[diferencia].index, inplace=True)

In [47]:
df.shape

(452063, 40)

In [48]:
# Ahora dropeamos las columnas comentadas arriba
df.drop(['RefId', 'ShippingDataId', 'Status', 'CreationDate', 'LastChange', 'TimeStamp', 'AddressId',\
         'MarketPlaceServiceEndpoint'], axis=1, inplace=True)

In [49]:
# Ahora ordenamos las columnas agrupandolas
df = df.reindex(columns = ['OrderId', 'Id', 'ProductId', 'Name', 'Quantity', 'Price', 'ListPrice', 'PromoName',\
                      'RawItemDiscount', 'GrossItemAmountDiscount', 'TotalOrderGross', 'TotalDiscountPrice',\
                      'ShippingCost', 'Value', 'DocumentType', 'Documento', 'OrderDate', 'Complemet',\
                      'SelectedAddressComplement', 'AddressType', 'Country', 'State', 'City', 'Neighborhood',\
                      'SelectedAddressNeighborhood', 'Street', 'PostalCode', 'SelectedAddressPostalCode',\
                      'SelectedAddressReference', 'Lat', 'Lng', 'HostName'])

In [50]:
pd.to_datetime(df['OrderDate'], format='%a%b%d')

0        2019-06-05
1        2019-06-05
2        2019-06-05
3        2019-06-05
4        2018-09-24
            ...
558069   2018-10-30
558070   2018-10-30
558071   2018-10-30
558072   2018-10-30
558073   2018-10-30
Name: OrderDate, Length: 452063, dtype: datetime64[ns]

In [51]:
df['OrderDate'].min()

Timestamp('2018-04-04 00:00:00')

In [52]:
df['OrderDate'].max()

Timestamp('2019-06-25 00:00:00')

In [53]:
df.sort_values(by='OrderDate')[{'OrderDate','Id'}].head(5)

        OrderDate   Id
75524  2018-04-04  290
34982  2018-04-04  186
34981  2018-04-04  137
34980  2018-04-04  127
439014 2018-04-04   34

In [54]:
df.shape

(452063, 32)

In [55]:
df.columns

Index(['OrderId', 'Id', 'ProductId', 'Name', 'Quantity', 'Price', 'ListPrice',
       'PromoName', 'RawItemDiscount', 'GrossItemAmountDiscount',
       'TotalOrderGross', 'TotalDiscountPrice', 'ShippingCost', 'Value',
       'DocumentType', 'Documento', 'OrderDate', 'Complemet',
       'SelectedAddressComplement', 'AddressType', 'Country', 'State', 'City',
       'Neighborhood', 'SelectedAddressNeighborhood', 'Street', 'PostalCode',
       'SelectedAddressPostalCode', 'SelectedAddressReference', 'Lat', 'Lng',
       'HostName'],
      dtype='object')

In [56]:
df.to_csv("Pippo_tot.csv")